
:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --azul-terceario: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-primario: 'Inter';
    --botao-azul-efeito:#3c92fa;
}

*{
    margin: 0;
    padding: 0;
}


body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-primario);
    font-size: 1rem;
    font-weight: 400;
}


.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size:contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--azul-terceario);
    border-radius: 0.5rem;
    padding: 1rem;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1rem;
}

.botao_secundario {
    background-color: transparent;
    border: 0.13rem solid var(--branco-principal);
    text-decoration: none;
}

.container__aviso {
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 1.75rem;
}

.container__imagem {
    margin: 1rem 0 2rem 0;
}

.container__caixa {
    margin: 0 10rem;
}

.secundario{
    align-items: center;
    margin: 0 20rem;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 3rem;
    color: var(--branco-principal);
    margin-bottom: 0.1rem;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1rem;
}

.container__descricao {
    padding: 2rem;
}

.dispositivos{
    text-align: center;
   
}

.dispositivos__titulo{
    font-size: 3rem;
    color: var(--branco-principal);
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5rem 0;
} 

.lista__item{
    font-size: 2rem;
    color: var(--branco-principal);
}

.rodape{
    text-align: center;
    margin: 5rem 3rem;    
}

.rodape__logo{
    width: 6.38rem;
    margin-top: 9.7rem;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1rem;
}

.lista__link a{
    color: var(--branco-principal);
    text-decoration: none;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.lista__link a:hover{
    color: var(--azul-terceario);
}

.lista__link a:active{
    color: purple;
}

.rodape__texto{
    color: var(--cinza-secundario);
    margin: 1.5rem;
    font-size: 0.9rem;
    font-weight: 400;
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}